@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato';
}

h1 {
    color: #fffaed;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 37px;
    color: #300c09;
    text-align: center;
}

h3 {
    font-size: 20px;
    color: #753f37;
    margin-bottom: 50px;
}

/* NAVBAR */
nav {
    background-color: #300c09;
    position: relative;
    display: flex;
    align-items: center;
    height: 110px;
    padding: 11px;
}

nav img {
    /* margin-right: auto; */ /* empuja todo lo demás hacia la derecha */
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #fffaed;
    border-radius: 100%;
    padding: 3px;
    margin-left: 25px;
}

/* INDEX */
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 0;
    padding: 40px;
    margin-top: 0;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 300px;
    background-image: url('../assets/hero-section-bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.3; 
    z-index: -1;
}

.products {
    padding: 40px 40px 0 40px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#coffeeList {
    color: #fffaed;
    display: flex;
    margin-bottom: 15px;
}

#foodList {
    color: #fffaed;
    display: flex;
    margin-bottom: 15px;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 0 60px;
}

.productInfo {
    overflow: hidden;
    width: 280px;
    margin-bottom: 25px;
    border-radius: 0.7em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 15px;
    transition: transform 0.3s ease-in-out;
}

.productInfo:hover {
    transform: translateY(-10px) scale(1.03);
}

.productImage {
    width: 280px;
    display: block;
}

.infoProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #300c09;
    color: 300c09;
    background-color: #fffaed;
    padding: 20px;
}

.infoProduct h4 {
    padding: 7px;
}

.productPrice {
    padding: 7px;
}

.btnAddToCart {
    color: #fffaed;
    background-color: #753f37;
    width: 150px;
    padding: 10px 15px;
    border-style: none;
    border-radius: 0.6em;
    margin-bottom: 35px;
    transition: 0.2s ease-in;    
}

.btnAddToCart:hover {
    background-color: #300c09;
    transform: scale(0.99)
}

.errorMessage {
    color: black;
    font-style: italic;
    margin-bottom: 15px;
}

#productsContainer {
    color: #300c09;
    background-color: #fffaed;
    padding: 20px;
    margin-top: 0px;
}

#cartSummaryText {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
    margin: 5px 0;
}

#productsOrderedInfo {
    margin: 10px 0;
}

.newAddedItem {
    padding: 10px 0;
}

#showTotalOrder {
    padding: 10px 0;
}

#finishOrderButton {
    color: #fffaed;
    background-color: #300c09;
    padding: 10px 15px;
    border-style: none;
    border-radius: 0.6em;
    margin: 15px 0;
    transition: 0.2s ease-in;  
}

#finishOrderButton:hover {
    background-color: #3c0905;
    transform: scale(0.99);
}

.deleteButton {
    color: #fffaed;
    background-color: #753f37;
    padding: 10px 15px;
    border-style: none;
    border-radius: 0.6em;
    margin: 0 10px;
    transition: 0.2s ease-in;  
}

.deleteButton:hover {
    background-color: #300c09;
    transform: scale(0.99);
}

/* ORDER */
.orderDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.orderDetail p {
    font-weight: bold;
    color: #300c09;
    font-size: 20px;
    padding: 10px 0;
}

#finalOrder {
    color: #300c09;
}

#orderedItems {
    padding: 15px 0;
}

#totalPaid {
    font-size: 16px;
    padding: 15px 0;
    margin-bottom: 20px;
}

#backToHomepage {
    color: #fffaed;
    background-color: #300c09;
    padding: 10px 15px;
    border-style: none;
    border-radius: 0.6em;
    margin: 15px 0;
    transition: 0.2s ease-in;
}

#backToHomepage:hover {
    background-color: #3c0905;
    transform: scale(0.99);
}