@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato';
}

h1 {
    color: #300c09;
    background-color: #fffaed;
    text-align: center;
    padding: 20px;
    margin-bottom: 42px;
}

h2 {
    color: #300c09;
    text-align: center;
    margin-bottom: 42px;
}

h3 {
    font-size: 20px;
    color: #753f37;
    margin-bottom: 38px;
}

/* INDEX */
.coffeeProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

#coffeeList {
    color: #fffaed;
    display: flex;
    margin-bottom: 15px;
}

.foodProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;    
}

#foodList {
    color: #fffaed;
    display: flex;
    margin-bottom: 15px;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 0 60px;
}

.productInfo {
    overflow: hidden;
    width: 280px;
    margin-bottom: 25px;
    border-radius: 0.7em;
}

.productImage {
    width: 280px;
    display: block;
}

.infoProduct {
    background-color: #753f37;
    /* max-width: 200px; */
    padding: 20px;
}

.infoProduct h4 {
    padding: 7px;
}

.productPrice {
    padding: 7px;
}

.btnAddToCart {
    color: #fffaed;
    background-color: #753f37;
    width: 150px;
    padding: 10px 15px;
    border-style: none;
    border-radius: 0.6em;
    margin-bottom: 35px;    
}

.btnAddToCart:hover {
    background-color: #300c09;
}

.errorMessage {
    color: black;
    font-style: italic;
    margin-bottom: 15px;
}

.cart{
    color: #300c09;
    background-color: #fffaed;
    padding: 20px;
    margin-bottom: 5px;
}

#cartSummaryText {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
    margin: 5px 0;
}

#productsOrderedInfo {
    margin: 10px 0;
}

#newAddedItem {
    padding: 10px 0;
}

#showTotalOrder {
    padding: 10px 0;
}

#finishOrderButton {
    color: #fffaed;
    background-color: #300c09;
    padding: 10px 15px;
    border-style: none;
    border-radius: 0.6em;
    margin: 15px 0;
}

#deleteButton {
    color: #fffaed;
    background-color: #753f37;
    padding: 10px 15px;
    border-style: none;
    border-radius: 0.6em;
    margin: 0 10px;
}

/* ORDER */
.orderDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
}

.orderDetail p {
    font-weight: bold;
    color: #300c09;
    font-size: 20px;
    padding: 5px 0;
}

#finalOrder {
    color: #300c09;
}

#orderedItems {
    padding: 10px 0;
}

#totalPaid {
    font-size: 16px;
}

#backToHomepage {
    color: #fffaed;
    background-color: #300c09;
    padding: 10px 15px;
    border-style: none;
    border-radius: 0.6em;
    margin: 15px 0;
}